USE [master]
GO
/****** Object:  Database [QLHSDb]    Script Date: 6/6/2021 9:03:37 PM ******/
CREATE DATABASE [QLHSDb]
 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLHSDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLHSDb]
GO
/****** Object:  Table [dbo].[CLASS]    Script Date: 6/6/2021 9:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASS](
	[CLASS_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLASS_NAME] [varchar](10) NULL,
	[CLASS_GROUP] [int] NULL,
 CONSTRAINT [PK_CLASS] PRIMARY KEY CLUSTERED 
(
	[CLASS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONFIG]    Script Date: 6/6/2021 9:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONFIG](
	[CONFIG_ID] [int] IDENTITY(1,1) NOT NULL,
	[MIN_AGE] [int] NULL,
	[MAX_AGE] [int] NULL,
	[SUBJECT_POINT_STANDARDS] [float] NULL,
	[MAX_RATIO] [int] NULL,
	[MAX_STUDENT_CLASS] [int] NULL,
 CONSTRAINT [PK_CONFIG] PRIMARY KEY CLUSTERED 
(
	[CONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POINT]    Script Date: 6/6/2021 9:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POINT](
	[POINT_ID] [int] IDENTITY(1,1) NOT NULL,
	[STUDENT_ID] [int] NOT NULL,
	[SUBJECT_ID] [int] NOT NULL,
	[POINT_15] [float] NULL,
	[POINT_45] [float] NULL,
	[POINT_CK] [float] NULL,
	[AVG] [float] NULL,
	[SEMESTER] [int] NOT NULL,
 CONSTRAINT [PK_POINT] PRIMARY KEY CLUSTERED 
(
	[POINT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 6/6/2021 9:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[STUDENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLASS_ID] [int] NULL,
	[FULLNAME] [nvarchar](50) NULL,
	[GENDER] [nvarchar](10) NULL,
	[BIRTHDAY] [date] NULL,
	[ADDRESS] [nvarchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[AVG_S1] [float] NULL,
	[AVG_S2] [float] NULL,
 CONSTRAINT [PK_STUDENT] PRIMARY KEY CLUSTERED 
(
	[STUDENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBJECT]    Script Date: 6/6/2021 9:03:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECT](
	[SUBJECT_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUBJECT_NAME] [nvarchar](50) NULL,
	[SUBJECT_DESCRIPTION] [nvarchar](50) NULL,
 CONSTRAINT [PK_SUBJECT] PRIMARY KEY CLUSTERED 
(
	[SUBJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CLASS] ON 

INSERT [dbo].[CLASS] ([CLASS_ID], [CLASS_NAME], [CLASS_GROUP]) VALUES (1, N'10A1', 10)
INSERT [dbo].[CLASS] ([CLASS_ID], [CLASS_NAME], [CLASS_GROUP]) VALUES (2, N'10A2', 10)
INSERT [dbo].[CLASS] ([CLASS_ID], [CLASS_NAME], [CLASS_GROUP]) VALUES (3, N'10A3', 10)
SET IDENTITY_INSERT [dbo].[CLASS] OFF
GO

SET IDENTITY_INSERT [dbo].[STUDENT] ON 

INSERT [dbo].[STUDENT] ([STUDENT_ID], [CLASS_ID], [FULLNAME], [GENDER], [BIRTHDAY], [ADDRESS], [EMAIL], [AVG_S1], [AVG_S2]) VALUES (1, 1, N'Nguyễn Văn A', N'Nam', CAST(N'1999-04-01' AS Date), N'Hồ Chí Minh', N'1@student.hcmus.edu.vn', 0, 0)
INSERT [dbo].[STUDENT] ([STUDENT_ID], [CLASS_ID], [FULLNAME], [GENDER], [BIRTHDAY], [ADDRESS], [EMAIL], [AVG_S1], [AVG_S2]) VALUES (2, 2, N'Nguyễn Văn B', N'1712622', CAST(N'1999-04-02' AS Date), N'Hồ Chí Minh', N'2@student.hcmus.edu.vn', 0, 0)
INSERT [dbo].[STUDENT] ([STUDENT_ID], [CLASS_ID], [FULLNAME], [GENDER], [BIRTHDAY], [ADDRESS], [EMAIL], [AVG_S1], [AVG_S2]) VALUES (3, 3, N'Nguyễn Văn C', N'1712623', CAST(N'1999-04-03' AS Date), N'Hồ Chí Minh', N'3@student.hcmus.edu.vn', 0, 0)
SET IDENTITY_INSERT [dbo].[STUDENT] OFF
GO
SET IDENTITY_INSERT [dbo].[SUBJECT] ON 

INSERT [dbo].[SUBJECT] ([SUBJECT_ID], [SUBJECT_NAME], [SUBJECT_DESCRIPTION]) VALUES (1, N'Toán', N'Dạy toán học')
INSERT [dbo].[SUBJECT] ([SUBJECT_ID], [SUBJECT_NAME], [SUBJECT_DESCRIPTION]) VALUES (2, N'Lý', N'Dạy vật lý')
INSERT [dbo].[SUBJECT] ([SUBJECT_ID], [SUBJECT_NAME], [SUBJECT_DESCRIPTION]) VALUES (3, N'Hóa', N'Dạy hoá học')
SET IDENTITY_INSERT [dbo].[SUBJECT] OFF
GO
ALTER TABLE [dbo].[CONFIG] ADD  CONSTRAINT [DF__CONFIG__SUBJECT___339FAB6E]  DEFAULT ((0)) FOR [SUBJECT_POINT_STANDARDS]
GO
ALTER TABLE [dbo].[STUDENT] ADD  CONSTRAINT [DF__STUDENT__AVG_S1__3A4CA8FD]  DEFAULT ((0)) FOR [AVG_S1]
GO
ALTER TABLE [dbo].[STUDENT] ADD  CONSTRAINT [DF__STUDENT__AVG_S2__3B40CD36]  DEFAULT ((0)) FOR [AVG_S2]
GO
USE [master]
GO


USE [QLHSDb]
GO

ALTER TABLE [dbo].[CONFIG] DROP CONSTRAINT [DF__CONFIG__SUBJECT___339FAB6E]
GO

/****** Object:  Table [dbo].[CONFIG]    Script Date: 6/8/2021 4:31:08 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CONFIG]') AND type in (N'U'))
DROP TABLE [dbo].[CONFIG]
GO

/****** Object:  Table [dbo].[CONFIG]    Script Date: 6/8/2021 4:31:08 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[CONFIG](
	[CONFIG_ID] [int] IDENTITY(1,1) NOT NULL,
	[MIN_AGE] [int] NULL,
	[MAX_AGE] [int] NULL,
	[SUBJECT_POINT_STANDARDS] [float] NULL,
	[MAX_RATIO] [int] NULL,
	[MAX_STUDENT_CLASS] [int] NULL,
	[MAX_CLASS] [int] NULL,
	[MAX_SUBJECT] [int] NULL,
 CONSTRAINT [PK_CONFIG] PRIMARY KEY CLUSTERED 
(
	[CONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[CONFIG] ADD  CONSTRAINT [DF__CONFIG__SUBJECT___339FAB6E]  DEFAULT ((0)) FOR [SUBJECT_POINT_STANDARDS]
GO

SET IDENTITY_INSERT [dbo].[CONFIG] ON 

INSERT [dbo].[CONFIG] ([CONFIG_ID], [MIN_AGE], [MAX_AGE], [SUBJECT_POINT_STANDARDS], [MAX_RATIO], [MAX_STUDENT_CLASS]) VALUES (1, 15, 20, 5.0, NULL, 40)
SET IDENTITY_INSERT [dbo].[CONFIG] OFF
GO

